.kit-doc {padding: 20px;}

.mb60{margin-bottom:60px}
.button_fixed{left: 0; position: fixed; bottom: 0; z-index: 100; width: 100%;}
.button_fixed .layui-input-block{margin-left: 0; text-align: center;}