{extend name="layout:table" /}

{block name="main"}
<div class="kit-table">
    <form class="layui-form" lay-filter="kit-search-form">
        <div class="kit-table-header">
            <div class="kit-search-inputs">
                <div class="kit-search-keyword">
                    <input type="text" class="layui-input" name="keyword" placeholder="搜索关键字.." />
                    <button lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                </div>
                <div class="kit-search-more" id="kit-search-more">更多筛选<i class="layui-icon">&#xe61a;</i></div>
            </div>
        </div>
        <div class="kit-search-mored layui-anim layui-anim-upbit">
            <div class="kit-search-body">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">管理员</label>
                        <div class="layui-input-inline">
                            <select name="admin_id" lay-filter="" lay-search>
                                <option value=""></option>
                                {volist name="list_admin" id="vo"}
                                <option value="{$vo.id}">{$vo.id} - {$vo.username}{notempty name="vo.true_name"}（{$vo.true_name}）{/notempty}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">登录时间</label>
                        <div class="layui-input-inline" style="width: 120px;">
                            <input type="text" name="begin_time" placeholder="开始时间" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 120px;">
                            <input type="text" name="end_time" placeholder="结束时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="kit-search-footer">
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary kit-btn">重置</button>
                <button lay-submit lay-filter="search" class="layui-btn layui-btn-sm kit-btn">确定</button>
            </div>
        </div>
    </form>
    <div class="kit-table-body">
        <table id="mytable" lay-filter="mytable"></table>
        <script type="text/html" id="barView">
            <a class="layui-btn layui-btn-xs" lay-event="view_arr" data-field="account">账号详情</a>
        </script>
    </div>
</div>

{/block}

{block name="foot"}
<script>
    layui.use(['mytable'], function() {
        var mytable = layui.mytable;
        mytable.set({
            table:{
                url:"{:Url('admin/Account/loginLog')}",
                cols: [
                    [{ //配置数据列
                        field: 'id',
                        title: 'ID',
                        sort: true
                    }, /*{
                        field: 'admin_id',
                        title: '管理员ID',
                        sort: true
                    }, */{
                        field: 'username',
                        title: '管理员账号',
                        sort: false,
                        width:'120'
                    }, {
                        field: 'account',
                        title: '账号详情',
                        sort: false,
                        toolbar: '#barView',
                        width:'120',
                        align:'center'
                    }, {
                        field: 'ip',
                        title: '登录IP',
                        sort: false,
                        width:'120'
                    }, {
                        field: 'area',
                        title: '登录地区',
                        sort: false,
                        width:'120'
                    }, {
                        field: 'create_time',
                        title: '登录时间',
                        sort: false
                    }]
                ]
            }
        }).init();
    })
</script>
{/block}
