{extend name="layout:table" /}

{block name="main"}
<div class="kit-table">
    <form class="layui-form" lay-filter="kit-search-form">
        <div class="kit-table-header kit-table-header-inline">
            <div class="kit-search-btns">
                <a href="javascript:;" data-action="download" class="layui-btn layui-btn-sm"><i class="fa fa-cloud-download" aria-hidden="true"></i> 导出全部</a>
            </div>
            <div class="kit-search-inputs">
                <div class="layui-inline">
                    <label class="layui-form-label">管理员</label>
                    <div class="layui-input-inline">
                        <select name="admin_id" lay-filter="" lay-search>
                            <option value=""></option>
                            {volist name="list_admin" id="vo"}
                            <option value="{$vo.id}">{$vo.id} - {$vo.username}{notempty name="vo.true_name"}（{$vo.true_name}）{/notempty}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">登录时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="begin_end" id="begin_end" placeholder="时间区间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button lay-submit lay-filter="search" class="layui-btn layui-btn-sm kit-btn">搜索</button>
                </div>
            </div>
        </div>
    </form>
    <div class="kit-table-body">
        <table id="mytable" lay-filter="mytable"></table>
        <script type="text/html" id="barView">
            <a class="layui-btn layui-btn-xs" lay-event="view_arr" data-field="account">账号详情</a>
        </script>
    </div>
</div>

{/block}

{block name="foot"}
<script>
    layui.use(['mytable'], function() {
        var mytable = layui.mytable;
        mytable.set({
            table:{
                url:"{:Url('admin/Account/loginLog')}",
                cols: [
                    [{ //配置数据列
                        field: 'id',
                        title: 'ID',
                        sort: true
                    }, /*{
                        field: 'admin_id',
                        title: '管理员ID',
                        sort: true
                    }, */{
                        field: 'username',
                        title: '管理员账号',
                        sort: false
                    }, {
                        field: 'account',
                        title: '账号详情',
                        sort: false,
                        toolbar: '#barView',
                        align:'center'
                    }, {
                        field: 'ip',
                        title: '登录IP',
                        sort: false
                    }, {
                        field: 'area',
                        title: '登录地区',
                        sort: false
                    }, {
                        field: 'create_time',
                        title: '登录时间',
                        sort: false
                    }]
                ]
            }
        }).init();
    })
</script>
{/block}
