{extend name="layout:form" /}

{block name="head"}
<link rel="stylesheet" href="__ADMIN_CSS__/ztree/metro/ztree.css" media="all" />
{/block}

{block name="main"}
<!--class="mb60"-->
<form class="layui-form" action="" lay-filter="form-add">
    <div class="layui-form-item">
        <label class="layui-form-label">用户组名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" lay-verType="tips" value="" placeholder="请输入用户组中文名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户组状态</label>
        <div class="layui-input-inline">
            {volist name="list_status" id="vo"}
            <input type="radio" name="status" value="{$key}" title="{$vo}" {eq name="key" value="1"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <fieldset class="layui-elem-field">
        <legend>菜单权限设置</legend>
        <div class="layui-field-box">
            <ul id="mytree" class="ztree"></ul>
        </div>
    </fieldset>
    <div class="layui-form-item  button_fixed" style="display: none">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="demo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}

{block name="foot"}
<script>

    layui.use(['myform'], function() {
        var myform = layui.myform;

        myform.set({
            'url':"{:Url('admin/AuthGroup/add')}"
        }).init();

    })

</script>
{/block}