{extend name="layout:table" /}

{block name="main"}
<div class="kit-table">
    <form class="layui-form" lay-filter="kit-search-form">
        <div class="kit-table-header">
            <div class="kit-search-btns">
                <a href="javascript:;" data-action="add" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe654;</i> 新增</a>
                <!--<a href="javascript:;" data-action="del-bulk" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i> 批量删除</a>-->
            </div>
            <div class="kit-search-inputs">
                <div class="kit-search-keyword">
                    <input type="text" class="layui-input" name="keyword" placeholder="搜索关键字.." />
                    <button lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                </div>
                <div class="kit-search-more" id="kit-search-more">更多筛选<i class="layui-icon">&#xe61a;</i></div>
            </div>
        </div>
        <div class="kit-search-mored layui-anim layui-anim-upbit">
            <div class="kit-search-body">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户组</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" placeholder="请输入用户组" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-inline" style="width: 120px;">
                            <input type="text" name="begin_time" placeholder="开始时间" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 120px;">
                            <input type="text" name="end_time" placeholder="结束时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="kit-search-footer">
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary kit-btn">重置</button>
                <button lay-submit lay-filter="search" class="layui-btn layui-btn-sm kit-btn">确定</button>
            </div>
        </div>
    </form>
    <div class="kit-table-body">
        <table id="mytree" lay-filter="mytree"></table>
        <script type="text/html" id="switchTpl">
            <input type="checkbox" name="status" {{#  if(d.status == 1){ }}checked{{#  } }} lay-skin="switch" lay-text="正常|禁用" lay-filter="switch_status" data-id="{{d.id}}">
        </script>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>

{/block}

{block name="foot"}
<script>
    layui.use(['mytree'], function() {
        var mytree = layui.mytree;
        mytree.set({
            table:{
                url:"{:Url('admin/AuthGroup/table')}",
                url_del:"{:Url('admin/AuthGroup/del')}",
                url_switch:"{:Url('admin/AuthGroup/editStatus')}",
                cols: [
                    [{
                        field: 'id',
                        title: 'ID',
                        sort: true
                    }, {
                        field: 'title',
                        title: '用户组中文名称',
                        sort: false
                    }, {
                        field: 'rules',
                        title: '用户组拥有的规则id'
                    }, {
                        field: 'status_name',
                        title: '用户组状态',
                        sort: true,
                        templet: '#switchTpl',
                        align: 'center'
                    }, {
                        field: 'create_time',
                        title: '创建时间'
                    }, {
                        field: 'update_time',
                        title: '创建时间'
                    }, {
                        fixed: 'right',
                        title: '操作',
                        width: 120,
                        align: 'center',
                        toolbar: '#barDemo'
                    }]
                ]
            },
            open:{
                area:['480px', '580px'],
                "edit":{
                    title: "修改",
                    url:"{:Url('admin/AuthGroup/edit')}"
                },
                "add":{
                    title: "添加",
                    url:"{:Url('admin/AuthGroup/add')}"
                }
            },
            zTree:{
                url:"{:Url('admin/AuthRule/getAll')}",
                elem:"#mytree"
            }
        }).init();
    })
</script>
{/block}
