{extend name="layout:form" /}

{block name="main"}
<!--class="mb60"-->
<form class="layui-form" action="" lay-filter="form-edit">
    <div class="layui-form-item">
        <label class="layui-form-label">规则名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" lay-verType="tips" value="{$data.title}" placeholder="请输入规则中文名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">规则标识</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-verType="tips" value="{$data.name}" placeholder="请输入规则唯一标识" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
            <input type="text" name="icon" lay-verify="required" lay-verType="tips" value="{$data.icon}" placeholder="支持layui图标和fa-图标" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">{if condition="substr($data['icon'], 0, 3) eq 'fa-'"}<i class="fa {$data.icon}" aria-hidden="true"></i>{else /}<i class="layui-icon">{$data.icon}</i>{/if}</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">表达式类型</label>
        <div class="layui-input-inline">
            {volist name="list_type" id="vo"}
            <input type="radio" name="type" value="{$key}" title="{$vo}" {eq name="data.type" value="$key"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">规则状态</label>
        <div class="layui-input-inline">
            {volist name="list_status" id="vo"}
            <input type="radio" name="status" value="{$key}" title="{$vo}" {eq name="data.status" value="$key"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">规则表达式</label>
        <div class="layui-input-block">
            <textarea name="condition" placeholder="请输入规则表达式，如定义{score}>5  and {score}<100  表示用户的分数在5-100之间时这条规则才会通过" class="layui-textarea">{$data.condition}</textarea>
        </div>
    </div>
    <div class="layui-form-item  button_fixed" style="display: none">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$data.id}" />
            <button class="layui-btn" lay-submit lay-filter="demo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}

{block name="foot"}
<script>

    layui.use(['myform'], function() {
        var myform = layui.myform;

        myform.set({
            'url':"{:Url('admin/AuthRule/edit')}"
        }).init();
    })

</script>
{/block}