{extend name="layout:table" /}

{block name="main"}
<div class="kit-table">
    <form class="layui-form" lay-filter="kit-search-form">
        <div class="kit-table-header">
            <div class="kit-search-btns">
                <!--<a href="javascript:;" data-action="add_tree" class="layui-btn layui-btn-sm layui-bg-orange"><i class="layui-icon">&#xe62e;</i> 菜单树</a>-->
                <a href="javascript:;" data-action="add" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i> 新增</a>
                <!--<a href="javascript:;" data-action="del-bulk" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i> 批量删除</a>-->
            </div>
            <!--<div class="kit-search-inputs">
                <div class="kit-search-keyword">
                    <input type="text" class="layui-input" name="keyword" placeholder="搜索关键字.." />
                    <button lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                </div>
                <div class="kit-search-more" id="kit-search-more">更多筛选<i class="layui-icon">&#xe61a;</i></div>
            </div>-->
        </div>
        <div class="kit-search-mored layui-anim layui-anim-upbit">
            <div class="kit-search-body">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单状态</label>
                        <div class="layui-input-inline">
                            <select name="menu" lay-filter="">
                                <option value=""></option>
                                {volist name="list_menu" id="vo"}
                                <option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kit-search-footer">
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary kit-btn">重置</button>
                <button lay-submit lay-filter="search" class="layui-btn layui-btn-sm kit-btn">确定</button>
            </div>
        </div>
    </form>
    <div class="kit-table-body">
        <table id="mytree" lay-filter="mytree"></table>
        <script type="text/html" id="iconTpl">
            {{d.icon}}
            {{# if (d.icon.indexOf("fa-") !== -1) { }}
            <i class="fa {{d.icon}}" aria-hidden="true"></i>
            {{# } else { }}
            <i class="layui-icon">{{d.icon}}</i>
            {{# } }}
        </script>
        <script type="text/html" id="switchTpl">
            <input type="checkbox" name="status" {{#  if(d.status == 1){ }}checked{{#  } }} lay-skin="switch" lay-text="正常|禁用" lay-filter="switch_status" data-id="{{d.id}}">
        </script>
        <script type="text/html" id="switchMenuTpl">
            <input type="checkbox" name="menu" {{#  if(d.menu == 1){ }}checked{{#  } }} lay-skin="switch" lay-text="展示|禁用" lay-filter="switch_menu" data-id="{{d.id}}">
        </script>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="add_pid">添加</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>

{/block}

{block name="foot"}
<script>
    layui.use(['mytree'], function() {
        var mytree = layui.mytree;
        mytree.set({
            table:{
                page:false,
                initSort:{
                    type:null
                },
                url:"{:Url('admin/AuthRule/table')}",
                url_del:"{:Url('admin/AuthRule/del')}",
                url_switch:"{:Url('admin/AuthRule/editStatus')}",
                url_switch_menu:"{:Url('admin/AuthRule/editMenu')}",
                cols: [
                    [{
                        field: 'id',
                        title: 'ID'
                    }, {
                        field: 'level',
                        title: '级别'
                    }, {
                        field: 'pid',
                        title: '父ID'
                    }, {
                        field: 'ptitle',
                        title: '父规则名称',
                        width: 120
                    }, {
                        field: 'title',
                        title: '规则中文名称',
                        width: 240
                    }, {
                        field: 'name',
                        title: '规则唯一标识',
                        sort: false
                    }, {
                        field: 'icon',
                        title: '图标',
                        templet: '#iconTpl'
                    }, {
                        field: 'type_name',
                        title: '表达式类型'
                    }, {
                        field: 'status_name',
                        title: '规则状态',
                        sort: true,
                        templet: '#switchTpl',
                        align: 'center'
                    }, {
                        field: 'menu_name',
                        title: '菜单状态',
                        sort: true,
                        templet: '#switchMenuTpl',
                        align: 'center'
                    }, {
                        field: 'condition',
                        title: '规则表达式',
                        edit:'text'
                    }, /*{
                        field: 'create_time',
                        title: '创建时间'
                    }, {
                        field: 'update_time',
                        title: '创建时间'
                    }, */{
                        fixed: 'right',
                        title: '操作',
                        width: 180,
                        align: 'center',
                        toolbar: '#barDemo'
                    }]
                ]
            },
            open:{
                area:['480px', '630px'],
                "edit":{
                    title: "修改",
                    url:"{:Url('admin/AuthRule/edit')}"
                },
                "add":{
                    title: "添加",
                    url:"{:Url('admin/AuthRule/add')}"
                }
            }
        }).init();
    })
</script>
{/block}
